
{:source-paths ["src/"]
 :dependecies []
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :module-loader true
                :modules {:main {:entries [app.main]}
                          :extra {:entries [app.extra]
                                  :depends-on #{:main}}}
                :release {:output-dir "dist/"
                          :module-hash-names 8
                          :build-options {:manifest-name "assets.edn"}}
                :devtools {:after-loader app.main/reload!}}}}
